/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

input {
	font-weight: 500 !important
}


@media screen and (max-width: 400px) {
	.answer-card {
		width: 70%;
	}
}

@media screen and (min-width: 401px) {
	.answer-card {
		width: 60%;
	}
}

.card-tag {
	width: 100%;
	height: 100%;
}

.table-tag.card-body {
	padding: 0px;
}

.flex-icon {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.div-search-data {
	padding: 20px;
}

.member-create-header {
	margin-top: 40px;
	color: #4F4B66;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: "Noto Sans", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
}

.member-create-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.member-create-input-card {
	position: relative;
	width: 60%;
}

.member-create-footer-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.bg-danger {
	background-color: #AE132A !important;
}

.group-list-filter {
	width: 100%;
	height: 40px;
	// border-right: 1px solid #EFEFEF;
	margin-bottom: 16px;

	.input-group-text {
		background-color: transparent;
	}

	.form-control {
		background-color: transparent;
		font-size: 16px;
	}
}

.group-list-filter-card {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon-search-point {
	margin-right: 8px;
}

.group-list-filter-input {
	border-width: 0px;
	color: #B9B9C3;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Body-EN/Paragraph Lead */
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	box-shadow: none !important;
}

.credit {
	position: fixed;
	left: 2%;
	bottom: 2%;
}

.text-logo {
	color: #1A56A5;
}

@media screen and (max-width: 900px) {
	.group-list-filter {
		width: 100%;
	}
}